<div class="col-xs-2">
    <div class="sidenav">
        <ul>
            <li>@Html.ActionLink("My Quizzes", "Index", "QuizManagement")</li>
            <li>@Html.ActionLink("Create Quiz", "CreateQuiz", "QuizManagement")</li>
            @* <li>@Html.ActionLink("My Contacts", "Contacts", "MyAccount")</li> *@
            @* <li>@Html.ActionLink("Update Account", "UpdateAccount", "MyAccount")</li> *@
        </ul>
    </div>
</div>