@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz Manager</h1>
    <p class="lead">This site allows you to host and partake in quizzes.</p>
    <p>
        <a href="@Url.Action("Index", "Participate")" class="btn btn-primary btn-lg">Begin &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Create an account, get someone to host and partake away!
        </p>
    </div>
</div>