@{
    ViewBag.Title = "Home Page";
}

@* <div class="jumbotron"> *@
@*     <h1>Quiz Manager</h1> *@
@*     <p class="lead">This site allows you to host and partake in quizzes.</p> *@
@*     <p> *@
@*         <a href="@Url.Action("Index", "Participate")" class="btn btn-primary btn-lg">Begin &raquo;</a> *@
@*     </p> *@
@* </div> *@

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Quiz Manager</h1>
        <p class="col-md-8 fs-4">
            This site allows you to host and partake in quizzes.
        </p>
        <p>
            <a href="@Url.Action("Index", "Participate")" class="btn btn-primary btn-lg">Begin &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Create an account, get someone to host and partake away!
        </p>
    </div>
</div>